#content{
    
    width: 80%;
    min-height: 600px;
    margin: 60px auto;
    padding: 35px 70px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);    
}
#content  .title{
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #000;
}
#content form.getData{
    width: 60%;
    margin: 0 auto;
}
#content form.getData .rows{
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 30px;
    line-height: 30px;
}
#content form.getData .rows .prompt{
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
}
#content form.getData .rows input{
    display: block;
    margin-left: 100px;
    width: calc(100% - 100px);
    height: 30px;
    line-height: 30px;
    text-indent: 8px;
    border: 1px solid #ccc;
}
#content form.getData .rows select{
    margin-left: 100px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#content form.getData .button{
    width: 189px;
    height: 30px;
    margin: 55px auto;
    background-color: #BE83B3;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 3s;
}


#content form.getData .clear{
    display: none;
}
#content #show_process{
    display: flex;
    flex-direction: column;
}

#content #show_process .row{
    width: 100%;
    height: 95px;

}

#content #show_process .hidden{
    opacity: 0;
}


#content #show_process .row ul{
    position: relative;
    margin: 10px auto 10px;
    height: 75px;
    
}

#content #show_process .row ul li{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #F0495A;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    border-right: 1px solid #FFCEAD;
    border-radius: 4px;
    transition: background-color 1s,left 1.5s;
}