#content .register-box{
    width: 300px;
    height: 326px;
    padding: 30px 60px;
    margin: 52px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}

#content .register-box .title{
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #000;
}

#content .register-box form > input{
    width: 100%;
    margin-top: 30px;
    height: 30px;
    line-height: 30px;
    text-indent: 8px;
    border: 1px solid #ccc;
}
#content .register-box form .form_row{
    width: 100%;
    margin-top: 30px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

#content .register-box form .form_row input{
    width: 20px;
    height: 20px;
}
#content .register-box form .form_row label{
    position: relative;
    top: -5px;
    left: 10px;
    cursor: pointer;
}
#content .register-box form .form_row a{
    width: 65px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-decoration: none;
    color: #f00;
}

#content .register-box form .button{
    width: 189px;
    height: 30px;
    margin: 55px auto;
    background-color: #ea0f2d;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}