a, body, dd, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, img, input, li, ol, option, p, select, span, strong, table, td, textarea, th, ul, var
{
    size: 12px;
    margin: 0;
    padding: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-float{
    zoom: 1;
}
.clear-float:after{
    display: block;
    clear:both;
    content: '.';
    visibility: hidden;
    height: 0;
}
nav{
    width: 100%;
    height: 65px;
    background-color: #fafafa;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),
                0 1px rgba(0,0,0,.1);
}
nav .nav-box{
    width: 70%;
    margin: 0 auto;
}
@media(max-width:1200px) and (min-width:992px){
    nav .nav-box{
        width: 80%;
    }
}

@media(max-width:992px) and (min-width:768px){
    nav .nav-box{
        width: 90%;
    }

}
@media(max-width:768px){
    nav .nav-box{
        width: 100%;
    }
}

nav .nav-box .nav-logo{
    padding-left: 35px;
    width: 135px;
    height: 100%;
}
nav .nav-box .nav-logo  img{
    width: 62px;
    height: 60px;
}
nav .nav-box .nav-logo  h2{
    width: 73px;
    size: 24px;
    line-height: 65px;
}

nav .nav-box .nav-menu{
    padding: 0 20px;
    height:60px;
}

nav .nav-box .nav-menu ul li{
    position: relative;
    margin-left: 36px;
    float: left;
    line-height: 60px;
    list-style: none;
    size: 16px;
    z-index: 0;
}
nav .nav-box .nav-menu ul li:hover{
    height: 100px;
}
nav .nav-box .nav-menu ul li>a{
    display: block;
    text-decoration: none;
    height: 50px;
    color:rgb(72, 87, 106);
    border-bottom: 3px solid transparent;
    transition: border-bottom 300ms;
    -webkit-transition: border-bottom 300ms;
    -moz-transition: border-bottom 300ms;
    
}
nav .nav-box .nav-menu ul li>.top{
    position: absolute;
    opacity: 0;
    padding: 5px 10px;
    line-height: 24px;
    size: 16px;
    text-align: center;
    background-color: transparent;
    border-radius:4px; 
    transition: opacity 300ms,background-color 0.3s;
    -webkit-transition: opacity 300ms,background-color 0.3s;
    -moz-transition: opacity 300ms,background-color 0.3s;
}

nav .nav-box .nav-menu ul li:hover>.top{
    opacity: 1;
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(72, 87, 106);
}

nav .nav-box .nav-menu ul li a:hover{
    border-bottom:3px solid #ea0f2d ;
}

